{% extends 'base.html' %}

{% block title %} <title>Записи</title> {% endblock %}

{% block content %}
    <h2>Выгрузить список в файл: <a href='{{ url_for("download_report", ftype = "csv")}}'> csv </a>
                                 <a href='{{ url_for("download_report", ftype = "txt")}}'> txt </a>
    </h2>
    {% for row in rows %}
        <a id="doc-ref" href='{{ url_for("search_ID", ident = row[0])}}' target="_blank">{{row[1]}} {{row[2]}} {{row[3]}}</a>
        <br>

    </div>
    {% endfor %}

{% endblock %}