<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}"/>
        <script src="{{ url_for('static', filename= 'script.js') }}"></script>
        {% block title %} {% endblock %}
    </head>
    
    <body>
        <h1>Информационная система по описям архива Московского университета</h1>
        <div class="menu">
        <a href="{{ url_for('index')}}">Главная</a>
        <a href="{{url_for('search_form')}}">Поиск</a>
        <a href="{{ url_for('all')}}">Все записи</a>
        <a href="{{ url_for('upload_batch')}}">Добавить опись</a>
        <a href="{{ url_for('delete_form')}}">Очистить опись</a>
        </div>
        
        {% block content %} {% endblock %}
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
    </body>
</html>