<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}"/>
        {% block title %} {% endblock %}
    </head>
    
    <body>
        <h1>Информационная система по описям архивного фонда № 418 «Московский университет»</h1>
        <div class="menu">
        <a href="{{ url_for('index')}}">Главная</a>
        <a href="{{url_for('search_form')}}">Поиск</a>
        <a href="{{ url_for('reports', char = '%', year = '*', page = 1)}}">Все записи</a>
        <a href="{{ url_for('upload_batch')}}">Добавить опись</a>
        <a href="{{ url_for('delete_form')}}">Очистить опись</a>
        <a href="{{ url_for('update_report_form')}}">Обновить опись</a>
        <a href="{{ url_for('update_case_form')}}">Добавить сканы в дело</a>
        </div>
        
        {% block content %} {% endblock %}
        {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
        {% endfor %}
        
        <form action="{{ url_for('shutdown')}}">
            <input id="shutdown" type="submit" value="Остановить сервер" />
        </form>
    </body>
</html>