{% extends 'base.html' %}

{% block title %} <title>Личное дело</title> {% endblock %}

{% block content %}
    
    {% for file in files %}
    <div class="doc-display">
        <div class="doc-display">
            {% if file[1] == "pdf" %}
            <object class="images" id="pdf" data='{{ url_for("dircontent", directory = directory, filename = file[0])}}'></object>
            {% elif file[1] == "jpg" %}
            <object class="images" id="jpg" data='{{ url_for("dircontent", directory = directory, filename = file[0])}}' type ="image/jpeg"></object>
            {% endif%}
            <br>
        </div>
    </div>
    {% endfor %}

{% endblock %}