{% extends "base.html" %}

{% block title %}<title>Инструкция</title>{% endblock %}

{% block content %}
    <div class="guide">
        <h2>Инструкция по работе с системой</h2>
        <p id="text"><i>Поиск</i><br>
            Поиск в базе данных осуществляется по фамилии (обязательна для заполнения)<br>
            Доступна опция поиска по точному совпадению. По умолчанию поиск ведется по подстроке<br>
            Поля Имя, Отчество, Год Описи - заполняются для уточнения запроса <br>
        </p>
        
        <p id="text"><i>Результаты поиска</i><br>
            Выводятся все найденные по запросу студенты в виде списка<br>
            Щелкнув по результату можно просмотреть основную информацию о студенте и скан описи<br>
            Если опись еще не загружена, то выводится фиктивная опись<br>
            Если у студента указана папка личного дела, то будет показана ссылка на нее<br>
            По ссылке личного дела выводится список доступных к просмотру сканов из папки<br>
        </p>
        
        <p id="text"><i>Просмотр записей</i><br>
            В разделе "Все записи" выводятся все текущие записи из базы данных<br>
            Организован постраничный просмотр для удобства просмотра больших списков<br>
            Доступны фильтры:<br>
            - по первой букве фамилии<br>
            - по году описи<br>
            Можно сделать выгрузку указанных данных с сохранением их в файл<br>
            Доступные форматы для файла:<br>
            - txt<br>
            - csv<br>
        </p>
        
        <p id="text"><i>Добавление описи</i><br>
            В этом разделе сайта доступна пакетная загрузка данных в БД<br>
            Нужно загрузить файл на специальной форме раздела в формате csv<br>
            Доступна пробная загрузка (без фиксации изменений в БД) и финальная<br>
            После загрузки формируется протокол с указанием результата проверки каждой записи<br>
            Загрузочный файл должен иметь 9 именованных столбцов (при этом порядок не важен):<br><br>
            <small>Фамилия;Имя;Отчество;Опись;Дело;Год;Файл_описи;Страница;Примечание;Папка_дела<br>
        </p>
        
        <p id="text"><i>Очистка описи</i><br>
            Позволяет удалить данные из БД по конкретной описи<br>
            Опись, подлежащая удалению выбирается из подготовленного списка<br>
            По завершении операции формируется протокол: указывается количество удаленных записей студентов и произошедшие ошибки<br>
        </p>
        
        <p id="text"><i>Обновление описи</i><br>
            Раздел предназначен для случая, когда изначально в пакетной загрузке не был указан файл описи<br>
            Опись, подлежащая обновлению выбирается из подготовленного списка<br>
            Далее указывается имя файла, который должен быть предварительно сохранен в общей папке архивной коллекции файлов<br>
            По завершении операции формируется протокол: фиксируются произошедшие ошибки и факт завершения операции<br>
        </p>
        
        <p id="text"><i>Добавление сканов в дело</i><br>
            В этом разделе производится добавление в БД папки личного дела студента<br>
            Необходимо заполнить основную информацию о студенте и указать имя папки, которую предполагается добавить указанному студенту<br>
            Папка должна быть предварительно сохранена в общей папке архивной коллекции<br>
            По завершении операции формируется протокол: фиксируются произошедшие ошибки и факт завершения операции<br>
        </p>
    </div>
{% endblock %}