{% extends 'base.html' %}

{% block title %}<title>Инструкция</title>{% endblock %}

{% block content %}
    <div class='guide'>
        <h2>Инструкция по работе с системой</h2>
        <p id='text'><i>Поиск</i><br>
            Поиск в базе данных осуществляется по фамилии (обязательна для заполнения)<br>
            Доступна опция поиска по точному совпадению. По умолчанию поиск ведется по подстроке<br>
            Поля Имя, Отчество, Год Описи - заполняются для уточнения запроса <br>
        </p>
        
        <p id='text'><i>Результаты поиска</i><br>
            Выводятся все найденные по запросу студенты<br>
            Щелкнув по результату можно просмотреть найденное изображение (опись)<br>
            Если у студента указана папка личного дела, то можно посмотреть ее содержимое<br>
        </p>
        
        <p id='text'><i>Просмотр записей</i><br>
            На вкладке "Все записи" выводятся все текущие записи из базы данных <br>
            Доступны фильтры:<br>
            - по первой букве фамилии<br>
            - по году описи<br>
            Можно сделать выгрузку указанных данных с сохранением их в файл<br>
            Доступны форматы:<br>
            - txt<br>
            - csv<br>
        </p>
        
        <p id='text'><i>Добавление описи</i><br>
            Есть возможность загрузить в базу данных пакет с новыми данными<br>
            Нужно загрузить файл в формате csv<br>
            Доступна пробная загрузка (без фиксации изменений в БД) и финальная<br>
            После загрузки сохраняется протокол результата с указанием результата проверки каждой записи<br>
            Загрузочный файл должен иметь 9 именованных столбцов (при этом порядок не важен):<br><br>
            <small>Фамилия;Имя;Отчество;Опись;Дело;Год;Файл_описи;Страница;Примечание<br>
        </p>
        
        <p id='text'><i>Очистка описи</i><br>
            Позволяет удалить данные из БД по конкретной описи<br>
            Опись, подлежащая удалению выбирается из списка<br>
            По завершении операции будет сохранен отчет: указывается количество удаленных записей студентов и произошедшие ошибки<br>
        </p>
    </div>
{% endblock %}