{% extends 'base.html' %}

{% block title %} <title>Поиск</title> {% endblock %}

{% block content %}
    <form class="form" action="/search" method="post" name='search' onsubmit="return searchformValidation();">
        <h3>Поиск по базе данных: </h3>
        <ul>
        <li><label for="lastname">Фамилия*</label></li>
        <li><input type="text" name="lastname" value="{{ request.form.lastname}}" required /></li>
        
        <li><label for="firstname">Имя</label></li>
        <li><input type="text" name="firstname" value="{{ request.form.firstname}}" /></li>
        
        <li><label for="middlename">Отчество</label></li>
        <li><input type="text" name="middlename" value="{{ request.form.middlename}}" /></li>
        
        <li><label for="exactMatch">Искать точное совпадение</label></li>
        <li><input type="checkbox" name="exactMatch"/></li>
        <li><input id="input" type="submit" value="Найти"></li>
        </ul>
    </form>

{% endblock %}


