{% extends 'base.html' %}

{% block content %}

    <form class="search" id="up-form" name="updateform" method="post" enctype=multipart/form-data onsubmit="return uploadformValidation();">
        <p>Заполните поля: </p>
        <ul>
        <li><label for="lastname">Фамилия*</label></li>
        <li><input type="text" name="lastname" value="{{ request.form.lastname}}" required /></li>
        
        <li><label for="firstname">Имя</label></li>
        <li><input type="text" name="firstname" value="{{ request.form.firstname}}" /></li>
        
        <li><label for="middlename">Отчество</label></li>
        <li><input type="text" name="middlename" value="{{ request.form.middlename}}" /></li>
        
        <li><label for="note">Примечание</label></li>
        <li><textarea name="note">{{ request.form.note}}</textarea></li>
        
        <li><label for="report">Название отчета*</label></li>
        <li><input type="text" name="report" value="{{ request.form.report}}" required/></li>
        
        <li><label for="year">Год отчета*</label></li>
        <li><input type="text" name="year" value="{{ request.form.year}}" required/></li>
        
        <li><label for="page">Страница*</label></li>
        <li><input type="text" name="page" value="{{ request.form.page}}" required/></li>
        
        <li><label for="file">Файл:*</label></li>
        <li><input id="fileupload" name="file" type="file"/><li>
            
        <li><input id="input" type="submit" value="Добавить"></li>
        </ul>
    </form>
{% endblock %}